@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <br />
    <div>
        <a class="btn btn-success btn-lg col-md-3" href="http://localhost:2264/Albums">Albums</a>
        <a class="btn btn-info btn-lg col-md-3 col-md-offset-1" href="http://localhost:2264/Artist">Artists</a>
        <a class="btn btn-warning btn-lg col-md-3 col-md-offset-1" href="http://localhost:2264/Genre">Genres</a>
    </div>
</div>
