@model IEnumerable<MusicFall2016.Models.Genre>
@{
    ViewData["Title"] = "Genres";
}
<h2>Genres</h2>
<br />
<a class="btn btn-success btn-lg col-md-3" href="http://localhost:2264/Genre/Create">Add Genre</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
        @foreach (var genre in Model)
            {
                <tr>
                    <td><a asp-action="Details" asp-route-id="@genre.GenreID">@genre.Name</a></td>
                    <td><a class="btn btn-default" asp-action="Edit" asp-route-id="@genre.GenreID">Edit</a></td>
                </tr>
            }
</table>